@charset "utf-8";
/*site color*/
		body{background-color:skyblue;}
		h3{color:purple;}
		hr{
			/*border-width:5px 
			border-style-solid;
		    border-color:yellow;*/
		    border:5px solid yellow;
		}
		span{color:blue;font-size:20px;}